.toolgrid {
  display:grid;
  grid-template-rows:50px auto;
  grid-template-columns: 150px auto 150px;
  width:100%;
  height:100%;
  padding:0;
  margin:0;
  background-color:rgb(11,22,33);
  position:fixed;
  top:0;
  left:0;
  
}
#output-outer {
  background-color:black;
}
.output-cnt {
  width:calc(100% - 50px);
  height:calc(100% - 50px);
  background-color:white;
  margin:25px;
  box-shadow: 0 0 50px  antiquewhite;
}

#toolbox {
  font-weight:bold;
  font-size:.8em;
  font-family:Arial, Helvetica, sans-serif;
  color:azure;
  padding:5px;
  text-align: center;
}

#modebox {
  display:inline-flex;
}

#modebox > div {
  width:50px;
  text-align:center;
  margin:5px;
  padding:5px;
  background-color:slategray;
}

#modebox > div.selected {
  background-color:lightgray;
}

#properties {
  color:white;
  font-weight:bold;
  padding:10px;
}

.details > div {
  display:grid;
  grid-template-rows: min-content;
  grid-template-columns: 50% 50%;
}

.detail-label {
  text-align:left;
  padding:5px;
  font-size:.8em;
  font-weight:normal;
}

.detail {
  text-align:right;
  padding:5px;
  font-size:.8em;
  font-weight:normal;
}

polyline {
  fill:none;
  stroke:black;
  stroke-width:1px;
}

/********************/

line:hover, 
circle:hover,
polyline:hover,
polygon:hover,
ellipse:hover,
rect:hover,
path:hover,
line.selected, 
circle.selected,
polyline.selected,
polygon.selected,
ellipse.selected,
rect.selected,
path.selected {
  stroke:orangered;
  opacity:.5;
}


svg, div, a {
  user-select:none;
}